<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="accessconnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GA.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<siteMap>
			<providers>
				<add name="SiteMap1" type="System.Web.XmlSiteMapProvider" siteMapFile="~/maps/default.sitemap"/>
				<add name="SiteMap2" type="System.Web.XmlSiteMapProvider" siteMapFile="~/maps/supga.sitemap"/>
				<add name="SiteMap3" type="System.Web.XmlSiteMapProvider" siteMapFile="~/maps/admin.sitemap"/>
			</providers>
		</siteMap>
	</system.web>
</configuration>
